.showcase .btn {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    margin: auto;
    grid-row-gap: 3rem;
  }

  .form form {
    text-align: left !important;
  }

  .form .form-group .recap {
    display: block !important;
  }
