.navbar {
  padding: 1.5rem 5rem;
}

/* About */

/* About Container */
.about {
  display: block;
  margin: auto;
}

/* About Image */
.about .me {
  margin: 1rem auto;
  margin-bottom: 4rem;
}

.about p {
  margin: 1.5rem 1.5rem;
}

.about .container-1 {
  display: block;
}

.about .talk {
  margin-top: 1rem;
}

.work-container {
  grid-template-columns: 1fr 1fr;
}

.form form {
  flex-direction: column;
  text-align: center;;
}

.container {
  padding-top: 5rem;
  padding-left: 9rem;
}

.text-fields {
  height: 2rem;
  width: 40rem;
}

.message {
  height: 5rem;
}

.footer-tab {
  margin-top: 1rem;
}

.form .form-group .recap {
  display: flex;
  justify-content: center;
}
