/* About */

/* About Container */
.about {
  display: block;
  margin: auto;
}

/* About Image */
.about .me {
  margin: 1rem auto;
  margin-bottom: 4rem;
}

.about p {
  margin: 1.5rem 4rem;
}

.about .container-1 {
  display: block;
}

.about .talk {
  margin-top: 1rem;
}

.overlay {
  display: none;
}